*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Segoe UI,Arial,sans-serif;
background:#0b0b0f;
color:#fff;
overflow:hidden;
}

#loginScreen{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
position:relative;
overflow:hidden;
}

#loginScreen::before{
content:"";
position:absolute;
inset:0;

background:
linear-gradient(
rgba(8,8,12,.55),
rgba(8,8,12,.70)
),
url("images/lama.png");

background-size:cover;
background-position:center;
background-repeat:no-repeat;
}

.loginBox{
position:relative;
z-index:10;

width:500px;

background:rgba(15,15,25,.72);

backdrop-filter:blur(12px);

border:1px solid rgba(255,255,255,.08);

border-radius:30px;

padding:50px;

text-align:center;

box-shadow:
0 0 50px rgba(139,92,246,.25);
}

.logo{
font-size:84px;
font-weight:900;
line-height:.95;
margin-bottom:20px;

color:#a855f7;

text-shadow:
0 0 20px rgba(168,85,247,.6);
}

.subtitle{
font-size:20px;
color:#d0d0d8;
margin-bottom:30px;
}

.passwordInput{
width:100%;
padding:18px;

border:none;
outline:none;

border-radius:14px;

background:#232330;
color:white;

font-size:20px;

margin-bottom:20px;
}

.loginBtn{
width:100%;

padding:18px;

border:none;

border-radius:14px;

background:#8b5cf6;

color:white;

font-size:20px;
font-weight:800;

cursor:pointer;

transition:.2s;
}

.loginBtn:hover{
background:#a855f7;
transform:translateY(-2px);
}

#app{
display:none;
height:100vh;
}

.layout{
display:flex;
height:100vh;
}

.sidebar{
width:340px;
background:#15151d;
border-right:1px solid rgba(255,255,255,.08);
overflow-y:auto;
}

.sidebarHeader{
padding:25px;
font-size:30px;
font-weight:900;
color:#a855f7;
}

.searchBox{
padding:15px;
}

.searchInput{
width:100%;
padding:14px;
background:#232330;
border:none;
border-radius:10px;
color:white;
}

.menu{
padding:10px;
}

.category{
margin-bottom:20px;
}

.categoryTitle{
font-size:14px;
font-weight:900;
letter-spacing:1px;
color:#a855f7;
margin-bottom:10px;
}

.brand{
padding:12px;
background:#1d1d28;
border-radius:10px;
cursor:pointer;
margin-bottom:6px;
font-weight:700;
}

.brand:hover{
background:#252535;
}

.brandModels{
display:none;
padding-left:10px;
}

.model{
padding:8px;
cursor:pointer;
color:#cfcfd7;
}

.model:hover{
color:white;
}

.content{
flex:1;
padding:30px;
overflow-y:auto;
background:#0b0b0f;
}

.breadcrumb{
font-size:34px;
font-weight:800;
margin-bottom:25px;
}

.gallery{
display:grid;
grid-template-columns:
repeat(auto-fill,minmax(280px,1fr));
gap:20px;
}

.photo{
height:280px;
background:#1d1d28;
border-radius:18px;

display:flex;
justify-content:center;
align-items:center;

color:#777;

border:1px dashed #444;
}

@media(max-width:900px){

.loginBox{
width:90%;
padding:35px;
}

.logo{
font-size:58px;
}

.sidebar{
width:280px;
}

}
