body{
margin:0;
font-family:Segoe UI,Arial,sans-serif;
background:#0b0b0f;
color:white;
}

#loginScreen{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
position:relative;
overflow:hidden;
}

#loginScreen::before{
content:"";
position:absolute;
inset:0;

background:
linear-gradient(
rgba(10,10,15,.78),
rgba(10,10,15,.88)
),
url("images/lama.png");

background-size:cover;
background-position:center;
filter:blur(2px);
}

.loginBox{
position:relative;
z-index:10;

width:420px;

background:rgba(20,20,30,.75);

backdrop-filter:blur(12px);

padding:40px;

border-radius:25px;

border:1px solid rgba(255,255,255,.08);

text-align:center;
}

.logo{
font-size:58px;
font-weight:900;
line-height:1;
margin-bottom:15px;
color:#a855f7;
}

.subtitle{
color:#cfcfd7;
margin-bottom:25px;
}

.passwordInput{
width:100%;
padding:15px;
border:none;
border-radius:12px;
background:#232330;
color:white;
font-size:18px;
box-sizing:border-box;
margin-bottom:20px;
}

.loginBtn{
width:100%;
padding:15px;
border:none;
border-radius:12px;
background:#8b5cf6;
color:white;
font-size:18px;
font-weight:700;
cursor:pointer;
}

.loginBtn:hover{
background:#a855f7;
}

#app{
display:none;
height:100vh;
}

.layout{
display:flex;
height:100vh;
}

.sidebar{
width:340px;
background:#15151d;
overflow-y:auto;
}

.sidebarHeader{
padding:20px;
font-size:28px;
font-weight:900;
color:#a855f7;
}

.searchBox{
padding:15px;
}

.searchInput{
width:100%;
padding:12px;
border:none;
border-radius:10px;
background:#232330;
color:white;
box-sizing:border-box;
}

.menu{
padding:10px;
}

.categoryTitle{
color:#a855f7;
font-weight:800;
margin:15px 0;
}

.brand{
padding:10px;
background:#1d1d28;
border-radius:10px;
margin-bottom:6px;
cursor:pointer;
}

.brandModels{
display:none;
padding-left:10px;
}

.model{
padding:8px;
cursor:pointer;
color:#cfcfd7;
}

.model:hover{
color:white;
}

.content{
flex:1;
padding:30px;
background:#0b0b0f;
overflow-y:auto;
}

.breadcrumb{
font-size:30px;
font-weight:800;
margin-bottom:20px;
}

.gallery{
display:grid;
grid-template-columns:
repeat(auto-fill,minmax(250px,1fr));
gap:20px;
}

.photo{
height:250px;
border-radius:15px;
background:#1d1d28;
display:flex;
justify-content:center;
align-items:center;
color:#777;
}
